#title {
  font-size: 70px;
  font-family: "EB Garamond", serif;
  text-align: center;
  padding: 100px 0;
}

.button {
  font-size: 20px;
  font-family: "EB Garamond", serif;
  text-align: center;
}

.button a {
  text-decoration: none;
  color: black;
  transition: color 0.5s;
}

.button a:hover {
  color: gold;
}

.container {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;

  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.cardboy {
  width: 400px;
  height: 500px;

  background-color: rgb(250, 241, 216);
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
}
.cardboy a {
  text-decoration: none;
}
.cardboy:hover {
  background-color: rgb(240, 231, 208);
  background-color: rgb(240, 231, 208);
  box-shadow: 12px 12px 2px 1px rgba(174, 174, 247, 0.2);
  transform: translateY(4px);
  transition: 1s ease;
}

.cardgirl {
  width: 400px;
  height: 500px;
  box-shadow: 12px 12px 2px 1px rgba(212, 247, 195, 0.753);
  background-color: rgb(215, 238, 238);
}
.cardgirl a {
  text-decoration: none;
}
.cardgirl:hover {
  background-color: rgb(190, 241, 241);
  background-color: rgb(190, 241, 241);
  box-shadow: 12px 12px 2px 1px rgba(226, 240, 219, 0.753);
  transform: translateY(4px);
  transition: 1s ease;
}

.text {
  font-family: "EB Garamond", serif;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 30px;
}
.text a {
  text-decoration: none;
}
.hewrites {
  font-family: "Reenie Beanie", cursive;
  font-size: 35px;
  text-align: left;
  color: rgb(66, 65, 69);
  padding: 30px;
}

a {
  text-decoration: none;
}
.shewrites {
  font-family: "Caveat", cursive;
  font-size: 35px;
  text-align: left;
  color: rgb(66, 65, 69);
  padding: 30px;
}
a {
  text-decoration: none;
}

.narration {
  font-family: "EB Garamond", serif;
  margin: auto;
  text-align: justify;
  color: rgba(0, 0, 0, 0.913);

  padding-left: 100px;
  padding-right: 100px;
  font-size: 28px;
}
.narration2 {
  font-family: "EB Garamond", serif;
  margin: auto;
  text-align: justify;
  color: rgba(0, 0, 0, 0.913);

  padding-left: 0px;
  padding-right: 100px;
  font-size: 28px;
}

.menu {
  font-family: "Reenie Beanie", cursive;
  text-align: right;
  font-size: 50px;
  padding-right: 5%;
  padding-top: 5%;
}
a {
  text-decoration: none;
}
.menu a:hover {
  color: rgb(71, 107, 207);
}

.menugirl {
  font-family: "Caveat", cursive;
  text-align: right;
  font-size: 50px;
  padding-right: 5%;
  padding-top: 5%;
}
a {
  text-decoration: none;
}
.menugirl a:hover {
  color: rgb(71, 107, 207);
}

.next {
  text-align: right;
  bottom: 0;
  font-family: "EB Garamond", serif;
  font-size: 40px;

  padding-right: 5%;
  padding-top: 200px;
}

.next a:hover {
  color: rgb(71, 107, 207);
}
.last {
  text-align: left;
  bottom: 0;
  font-family: "EB Garamond", serif;
  font-size: 40px;

  padding-left: 5%;
  padding-top: 200px;
}

.boychoice {
  text-align: center;
  bottom: 0;
  font-family: "Reenie Beanie", cursive;
  font-size: 60px;

  margin-left: auto;
  margin-right: auto;
  width: auto;
}
a:visited {
  text-decoration: none;
  color: #000;
}
.boychoice a:hover {
  color: rgb(71, 107, 207);
}
.girlchoice {
  text-align: center;
  bottom: 0;
  font-family: "Caveat", cursive;
  font-size: 50px;

  margin-left: auto;
  margin-right: auto;
  width: auto;
}
a:visited {
  text-decoration: none;
  color: #000;
}
.girlchoice a:hover {
  color: rgb(240, 144, 26);
}

.gameover {
  font-family: "EB Garamond", serif;
  font-size: 100px;
  text-align: center;
  padding: 80px 0;
}

img {
  width: 300px;
  height: 300px;
  text-align: center;

  z-index: 100;
}

#portraitboy img {
  width: 500px;
  height: 500px;
  text-align: center;

  z-index: 100;
}

#secondportrait img {
  width: 500px;
  height: 500px;
  text-align: center;
  padding-left: 30%;

  z-index: 100;
}
.flex-container {
  display: flex;
}

.flex-container > div {
  width: 700px;
  margin: 40px;
  text-align: center;

  font-size: 30px;
}

#wall2 {
  width: 300px;
}

/* overlay & hover effect learned from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_fade */
.overlay {
  position: absolute;
  top: 18%;

  text-align: center;
  margin-left: 29.5%;
  height: 505px;
  width: 505px;
  opacity: 0;

  transition: 1s ease;
  background-color: rgb(246, 255, 255);
}

#secondportrait:hover .overlay {
  opacity: 1;
}

.lasttext {
  color: rgba(12, 61, 100, 0.913);
  font-size: 30px;

  position: absolute;
  top: 30%;
  left: 50%;
  font-family: "EB Garamond", serif;

  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
