#title {
  font-size: 70px;
  font-family: "EB Garamond", serif;
  text-align: center;
  padding: 100px 0;
}

.button {
  font-size: 20px;
  font-family: "EB Garamond", serif;
  text-align: center;
}

.button a {
  text-decoration: none;
  color: black;
}

.container {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;

  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.cardboy {
  width: 400px;
  height: 500px;

  background-color: rgb(250, 241, 216);
}
.cardboy a {
  text-decoration: none;
}

.cardgirl {
  width: 400px;
  height: 500px;

  background-color: rgb(215, 238, 238);
}
.cardgirl a {
  text-decoration: none;
}
.text {
  font-family: "EB Garamond", serif;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 30px;
}
.text a {
  text-decoration: none;
}
.hewrites {
  font-family: "Reenie Beanie", cursive;
  font-size: 35px;
  text-align: left;
  color: rgb(66, 65, 69);
  padding: 30px;
}

a {
  text-decoration: none;
}
.shewrites {
  font-family: "Caveat", cursive;
  font-size: 35px;
  text-align: left;
  color: rgb(66, 65, 69);
  padding: 30px;
}
a {
  text-decoration: none;
}

.narration {
  font-family: "EB Garamond", serif;
  margin: auto;
  text-align: justify;

  padding-left: 100px;
  padding-right: 100px;
  font-size: 28px;
}
.narration2 {
  font-family: "EB Garamond", serif;
  margin: auto;
  text-align: justify;

  padding-left: 0px;
  padding-right: 100px;
  font-size: 28px;
}

.menu {
  font-family: "Reenie Beanie", cursive;
  text-align: right;
  font-size: 50px;
  padding-right: 5%;
  padding-top: 5%;
}
a {
  text-decoration: none;
}
.menu a:hover {
  color: rgb(71, 107, 207);
}

.menugirl {
  font-family: "Caveat", cursive;
  text-align: right;
  font-size: 50px;
  padding-right: 5%;
  padding-top: 5%;
}
a {
  text-decoration: none;
}
.menugirl a:hover {
  color: rgb(71, 107, 207);
}

.next {
  text-align: right;
  bottom: 0;
  font-family: "EB Garamond", serif;
  font-size: 40px;

  padding-right: 5%;
  padding-top: 200px;
}

.last {
  text-align: left;
  bottom: 0;
  font-family: "EB Garamond", serif;
  font-size: 40px;

  padding-left: 5%;
  padding-top: 200px;
}

.boychoice {
  text-align: center;
  bottom: 0;
  font-family: "Reenie Beanie", cursive;
  font-size: 80px;

  margin-left: auto;
  margin-right: auto;
  width: auto;
}
a:visited {
  text-decoration: none;
  color: #000;
}
.boychoice a:hover {
  color: rgb(71, 107, 207);
}
.girlchoice {
  text-align: center;
  bottom: 0;
  font-family: "Caveat", cursive;
  font-size: 50px;

  margin-left: auto;
  margin-right: auto;
  width: auto;
}
a:visited {
  text-decoration: none;
  color: #000;
}
.girlchoice a:hover {
  color: rgb(240, 144, 26);
}

.gameover {
  font-family: "EB Garamond", serif;
  font-size: 100px;
  text-align: center;
  padding: 80px 0;
}

img {
  text-align: center;
  width: 300px;
  height: 300px;
  text-align: center;

  z-index: 100;
}
